#mainPanel{
    width: 50%;
    max-width: 400px;
    margin-top: 3%;
}

#submit{
    margin-top: 10px;
    margin-right: 10px;
    max-width: 300px;
}
dl>dd{
    text-align: center;
    width: 20%;
}
dl>dt{
    text-align: center;
    width: 60%;
}
label{
    width:55%;
    height: 30px;
    display: inline-block;
    text-align: right;
    vertical-align: center;

}
li>input{
    width: 40%;
    height: 24px;
}
div>p{
    padding-left: 7%;
}

#chAndEng{
    padding-top: 10px;
    padding-right: 15px;
}
.uk-panel-body{
    padding-left: 5%;
}